<phpunit
	bootstrap="../vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="display_errors" value="1" />
	</php>
	<testsuite name="Mime Test Results">
		<directory>./</directory>
	</testsuite>
	<logging>
		<log type="coverage-html" target="./coverage/html" charset="UTF-8" />
	</logging>
</phpunit>
